@model CityArrayWeb.ModelView.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Change your account settings</h4>
    <hr />





    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>
        <dt>External Logins:</dt>
        <dd>
            @Model.Logins.Count [
            @Html.ActionLink("Manage", "ManageLogins") ]
        </dd>

    </dl>

    <a href="@Url.Action(nameof(ReviewsController.Add),"Reviews")" class="btn btn-default">Create Review</a>
    
    <table class="table">
        <tr>
            <td>
                City Name
            </td>
            <td>
                Rating
            </td>
            <td>
                Creation Date
            </td>
            <td>
                City Description
            </td>
            <td>
                Action
            </td>
        </tr>

        @foreach (var item in Model.Reviews)
        {
            <tr>
                <td>
                    <a href="@Url.Action(nameof(ReviewsController.Info),new { id = item.Id })" class="">
                        @Html.DisplayFor(modelItem => item.CityName)
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rating)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreationDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CityDescription)
                </td>

                <td>
                    @Html.ActionLink("Edit", nameof(ReviewsController.Edit), "Reviews", new { id = item.Id }) |
                    @Html.ActionLink("Details", nameof(ReviewsController.Info), "Reviews", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
</div>
