@model IEnumerable<CityArrayWeb.ModelView.CityInfo>

<div class="container index-content">
    <div class="flex-row row">
        @foreach (var item in Model)
        {
            <div class="col-xs-6 col-sm-4 col-lg-3">
                <div class="card">
                    <img src="@Url.Content(@item.CoverPictureUrl())" />
                    <h4>
                        <span style="@item.IsCapital?" font-weight: bold">@item.Name</span>, @item.CountryName
                    </h4>
                    <p>
                        @Html.DisplayNameFor(m => m.ReviewsCount) : @item.ReviewsCount
                    </p>
                    <p>
                        @Html.DisplayNameFor(m => m.WishesCount) : @item.WishesCount
                    </p>
                    <a class="btn blue-button" href="@Url.Action("Info","City",item.Id)">Visit</a>
                    <hr />
                </div>
            </div>
        }
    </div>
</div>
