@model CityArrayWeb.ModelView.PersonView

@{
    ViewBag.Title = "Info";
}

<h2>Info</h2>

<a href="@Url.Action(nameof(PeopleController.List))" class="btn btn-default">Back to all users</a>

<div>
    <h4>PersonView</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NickName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NickName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CountryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CountryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReviewsCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReviewsCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WishesCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WishesCount)
        </dd>

    </dl>
</div>
<div id="map" class="big-map"></div>

<hr />

<h2>Visited Cities</h2>
@if (Model.Reviews.Count != 0)
{
    @Html.Partial("_ReviewsCards", Model.Reviews)
}
else
{
    <p>User didn't post any reviews.</p>
}
<hr />

<h2>Wished Cities</h2>
@if (Model.WishedCities.Count != 0)
{
    @Html.Partial("_WishesCards", Model.WishedCities)
}
else
{
    <p>User didn't wished to visit any cities.</p>
}
<hr />

@section scripts{
    <script async defer type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAHN84SGaz7Lv1B9I0GpYWwv-o2i5SZZew"></script>
    <script type="text/javascript">
        var visitedCities = @Html.Raw(Model.VisitCoordsJson);
        var wishedCities = @Html.Raw(Model.WishedCoordsJson);

        var map;
        var infoWindow;

        window.onload = function () {
            showMap();
        }

        function showMap() {
            var mapOptions = {
                zoom: 2,
                center: new google.maps.LatLng(20, 20)
            };
            var mapDiv = document.getElementById("map");
            map = new google.maps.Map(mapDiv, mapOptions);

            infoWindow = new google.maps.InfoWindow();

            google.maps.event.addListener(map, 'click', function () {
                infoWindow.close();
            });

            visitedCities.map(function (item, i) {
                LatLng = new google.maps.LatLng(item.Latitude, item.Longitude);
                var marker = new google.maps.Marker({
                    map: map,
                    position: LatLng,
                    title: item.CityName
                });

                google.maps.event.addListener(marker, 'click', function () {
                    infoWindow.close();
                    infoWindow = new google.maps.InfoWindow();
                    var content =
                        "<p><b>" + item.CityName + "</b></p>" +
                        "<p>" + item.ReviewTitle + "</p>"
                    infoWindow.setContent(content);
                    infoWindow.open(map, marker);
                });
            });

            wishedCities.map(function (item, i) {
                LatLng = new google.maps.LatLng(item[0], item[1])
                var marker = new google.maps.Marker({
                    map: map,
                    position: LatLng,
                    label: "Name" + i,
                    title: "name",
                    icon: {
                        path: 'http://maps.google.com/mapfiles/ms/icons/green-dot.png',
                        strokeColor: "blue",
                        scale: 6
                    }
                });
                google.maps.event.addListener(marker, 'click', function () {
                    infoWindow.close();
                    infoWindow = new google.maps.InfoWindow(
                        {
                            content: item.CityName
                        });
                    infoWindow.open(map, marker);
                });
            });
        }
    </script>


}
