@model IEnumerable<ReviewInfo>

@{
    ViewBag.Title = "ListByPerson";
}

<h2>ListByPerson</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        @Html.TableHeadRowSortable(typeof(ReviewInfo), "Reviews", "List", (string)ViewBag.sortFilter, (string)ViewBag.searchFilter)
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a href="@Url.Action(nameof(ReviewsController.Info),new { id = item.Id })" class="">
                    @Html.DisplayFor(modelItem => item.CityName)
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CityDescription)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
