@using CityArrayWeb.Components
@using CityArrayWeb.ModelView
@using PagedList.Mvc;
@model PagedList.IPagedList<CityInfo>

@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm(nameof(CityController.List), "City", FormMethod.Get))
{
    <p>
        Search by name: @Html.TextBox("searchFilter", ViewBag.searchFilter as string)
        <br />
        <input type="submit" value="Search" />
    </p>
}

<table class="table">
    <tr>
        @Html.TableHeadRowSortable(typeof(CityInfo),"City",  nameof(CityController.List),
                 (string)ViewBag.sortFilter, (string)ViewBag.searchFilter)
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Name, nameof(CityController.Info), new { id = item.Id })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CountryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsCapital)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReviewsCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WishesCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
        </tr>
    }

</table>

<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action(nameof(CityController.List),
    new { page, sortFilter = ViewBag.sortFilter, searchFilter = ViewBag.searchFilter }))


